.header-title{
  color: rgb(255, 255, 10);
  font-size: 30px;
}

.header-title2{
  color: rgb(34, 255, 71);
  font-size: 24px;

}

.header-compo{
  margin-left: 5px;
}

.header-compo:hover{
  background: rgb(73, 219, 219);
  border-radius: 10px;
}